<launch>
  <arg name="port" default="/dev/ydlidar"/>
  <arg name="lidar" default="lidar"/> <!-- Specify your LIDAR type here-->
  <arg name="show_model" default="false"/>

  <include file="$(find ydlidar_ros)/launch/$(arg lidar).launch" >
    <arg name="port" value="$(arg port)"/>
  </include>

  <include file="$(find ydlidar_ros)/launch/view.launch" >
    <arg name="show_model" value="$(arg show_model)"/>
  </include>
</launch>
